<div class="main">
    <img class="profilepic" src="~/images/Happy.jpg" alt="Dog Smiling">
    <p style="text-align: center;">@ViewBag.Message</p>
</div>
<div class="buttons"><a href="feed"><button class="btn btn-primary">Feed</button></a><a href="play"><button class="btn btn-primary">Play</button></a><a href="work"><button class="btn btn-primary">Work</button></a><a href="sleep"><button class="btn btn-primary">Sleep</button></a></div>